body{
    display: flexbox;
    background-color: rgb(170, 211, 128);
}
.video{
    display: flex;
    justify-content: center;
}
video{
    width:90%;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 3em;
    text-decoration: line-through;
    color: rgb(195, 167, 255);
}

@media screen and max-width:(600px) {
    :root{
        font-size: 16px;
    }
}

@media screen and min-width:(600px) {
    :root{
        font-size: 32px;
    }
}
